@import 'scss/resets';
@import 'scss/variables';

// tester
.test {
 color: rgb(255, 255, 255);
}

body{
  background-color: rgb(64, 118, 233);
}

.sky {
  position: absolute;
  filter: blur(5px) opacity(90%);
  width: 100%;
  height: 100vh;
  z-index: -5;
}

.window {
  position: relative;
  top: 65px;
  left: 80px;
  border: 5px solid;
  border-color: $xp-blue;
  background-color: $dark-grey;
  height: 60%;
  width: 60%; 
  border-radius: 12px 12px 0 0;

  .msp-top {
      position: absolute;
      background-image: linear-gradient(to bottom, #96adff9c, transparent);
      background-color: $xp-blue;
      top: -3px;
      width: 100%;
      height: 35px;
      border-radius: 12px 12px 0 0;

      .title-container {
        display: flex;
        align-items: center;
        margin-left: 15px;
        // background-color: green;

        .msp-icon {
          width: 16px;
          height: 25px;
          margin: 0 10px 5px 0;
          // background-color: purple;
        }

        // alexwcreative.com
        a {
          font-family: 'VT323', monospace;
          color: whitesmoke;
          text-decoration: none;
          // background-color: rgb(0, 113, 133);
          font-size: 1.375rem;
          margin: 0;
          padding: 0.25rem;
          text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.75);
          }
      }
    .btn-container{
      position: relative;
      display: flex;
      justify-content: center;  
      align-items: center;
      background-color: rgb(0, 113, 133);
      list-style-type: none;
      
      .btn {
          $boxdimensions: 25px;
          background-color: pink;
          width: $boxdimensions;
          height: $boxdimensions;
          padding-left: 10px;
          margin-left: 10px;
      }
    }
      
  }

}





